*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content > * {
    opacity: 0;
    transform: translateY(30px);
}

.animate {
    animation: fadeInUp 0.8s ease-out forwards;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    -ms-overflow-style: none;
}

.content{
    width: 100%;
    position: relative;
}

.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    padding: 5vh 100px;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 100;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar-left{
    margin-right: auto;
}

.navbar-left li{
    margin-left: 10vh;
}

.navbar-right{
    margin-left: auto;
}

.navbar-right li{
    margin: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

#connection-main{
    background-image: url('../img/main_back_img1.avif');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(10, 30, 60, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
    height: 70vh;
}

#connection-main h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#title {
    margin-top: 110px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 80px;
}

.connection-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 12px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    box-sizing: border-box;
    width: 20vh;
    padding: 0;
}

.caption{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}